<form method="post" action="/report" class="form-inline" style="text-align:left;">
  <textarea type="text" class="span12" name="report" rows="5"></textarea>
  <button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i>Report</button>
</form>